doctype 5
html(lang="en")
    head
        meta(charset="utf-8")
        title Ember Starter Kit
        // build:css styles/main.css
        link(rel="stylesheet", href="styles/normalize.css")
        link(rel="stylesheet", href="styles/style.css")
        // endbuild

    body

        // build:js scripts/components.js
        script(src="components/jquery/jquery.js")
        script(src="components/handlebars/handlebars.runtime.js")
        script(src="components/ember/ember.js")
        // endbuild

        // build:js scripts/main.js
        script(src="scripts/app.js")
        // endbuild

        // build:js(.tmp) scripts/templates.js
        script(src="scripts/compiled-templates.js")
        // endbuild