extends layout

block title
    title Welcome!

block content
    div(class="hero-unit")
        h1 Ayyyy, Yo!
        p You now have
        ul
            li HTML5 Boilerplate
            li Twitter Bootstrap
            li RequireJS &amp; RequireJS Plugins
            li Lodash &amp; Underscore.string
            li Backbone
            li Moment and Handlebars.js
            li RaphaelJS
        p installed.
        h3 Aight!