!!! 5
//if lt IE 7
    <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
    <html class="no-js lt-ie9 lt-ie8">
//if IE 8
    <html class="no-js lt-ie9">
//[if gt IE 8]><!
html(class='no-js')
    //<![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        block title
            title | SITE_NAME

        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        meta(name='author', content='Alvaro Muir, @alvaromuir')
        
        block styles
            // build:css /styles/main.css
            link(rel='stylesheet', href='styles/main.css')
            // endbuild
        block scripts
            // build:js scripts/vendor/modernizr.js
            script(src='components/modernizr/modernizr.js')
            // endbuild
    body
        //if lt IE 7
            p.chromeframe.
            You are using an outdated browser.
            Please <a href="http://browsehappy.com/">upgrade your browser</a> or
            <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
            to improve your experience.
        
        div(class='container')
            block content

        block foot
            script(src='components/socket.io-client/dist/socket.io.min.js')
            //build:js scripts/main.js
            script(src='components/requirejs/require.js', data-main='scripts/main')
            //endbuild
        ///
            script
                var _gaq=[['_setAccount','UA-37762861-1'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));