html
  body
    .header
      ul.nav.nav-pills.pull-right
        li.active
          a(ng-href='#') Home
        li
          a(ng-href='#') About
        li
          a(ng-href='#') Contact
      h3.text-muted dataviz
    .div(ng-model="business_days")
      p {{business_days.year}}
